/* 
    Example style, don't use this for integration 
*/

html, body{
    margin: 0px;
    padding: 0px;

    width: 100%;
    height: 100%;

    overflow: hidden;
}

#game{
    width: 100%;
    height: 100%;
}